@media screen and (min-width: 768px) and (max-width: 1023px) {
    .principal-barra{
        .hoja-fondo4,
        .hoja-fondo5,
        .hoja-fondo8,
        .hoja-fondo9,
        .hoja-fondo10{
            display: none;
        }
        
        .hoja-fondo2{
            left: 16%;
        }
        .hoja-fondo3{
            left: 29%;
        }

        .hoja-fondo6{
            left: 40%;
            top: -28%;
        }
        .hoja-fondo7{
            left: 58%;
        }
        .hoja-fondo11{
            right: 8%;
        }
        .hoja-fondo12{
            right: -4%;
        }
        .hoja-fondo13{
            right: -17%;
        }
    }
}

@media screen and (max-width: 767px) {
    .principal-barra{
        height: 12%;
        .imagen{
            width: 300px;
            top: 100%;
        }
        .izq,
        .der{
            display: none;
        }

        .hoja-fondo3,
        .hoja-fondo4,
        .hoja-fondo5,
        .hoja-fondo8,
        .hoja-fondo9,
        .hoja-fondo10,
        .hoja-fondo11,
        .hoja-fondo13{
            display: none;
        }
        .hoja-fondo2{
            left: 26%;
            top: 12%;
        }
        .hoja-fondo6{
            left: 45%;
            top: -10%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        .hoja-fondo7{
            left:72%;
            top: 7%;
            transform: translate(-50%, -50%) rotate(-90deg);
        }
        .hoja-fondo12{
            right: -38%;
            transform: translate(-50%, -50%) rotate(-90deg);
        }
    }
}