.imagen-contenedor-gir {
    width: 400px;
    height: 280px;
    aspect-ratio: 1/1;
    /* Mantiene forma cuadrada */
    overflow: hidden;
    border-radius: 20px;
    transform: rotate(10deg);

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.sin-img-gir {
    background: var(--gris); /* gris */
}