@font-face{
    font-family:"Californian FB";
    src: url("../assets/fonts/californian-fb.ttf") format("truetype");
}

:root{
    --principal: #FFE6C8;
    --vinotinto: #4A0000;
    --gris:#808080;
    --doradoclaro: #BE682F;
    --azuloscuro: #02243F;
    --rojooscuro: #680200;
    --verdeoscuro: #0E352A;
    --blanco: #FFFFFF;
    --dorado: #D07916;
    --beichi: #FFECD2;
    --cafeclaro: #C68844;
}
