@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (max-width: 767px) {
    .descripcionempresa {
        .-conte {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 20px 0;

            .-derconte {
                position: static;
                width: 90%;
                max-width: 500px;
                margin: 0 auto;
                text-align: center;

                p {
                    font-size: 18px;
                    line-height: 24px;
                    text-align: center;
                }
            }

            .hojas-pri,
            .hojas,
            .-izqconte {
                display: none;
            }
        }
    }
}