@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (max-width: 767px) {
    body {
        overflow-x: hidden;
        width: 100%;

        .principal {
            overflow-x: hidden; 
        }
        .descripcionempresa {
            overflow-x: hidden;
            .-conte {
                height: auto;
                gap: 20px;
                padding: 20px 10px;

                .-derconte {
                    position: static;
                    width: 90%;
                    display: flex;
                    right: 0px;
                    margin-left: -12px;
                    justify-content: center;
                    align-items: center;

                    p {
                        width: 85%;
                        font-size: 20px;
                        text-align: center;
                    }
                }

                .hojas-pri,
                .hojas,
                .-izqconte {
                    display: none;
                }
            }
        }

        .caracteristicas {
            overflow-x: hidden;
            height: auto;
            .sostenibilidad {
                width: 100%;
                padding: 0px;

                .imagenes {
                    display: none;
                }

                .contenido {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    margin-top: 30px;

                    .linea {
                        width: 300px;
                    }

                    p{
                        width: 70%;
                    }
                }
            }

            .autenticidad {
                margin-top: 20px;
                .linea {
                    width: 300px;
                }
                p{
                    width: 70%;
                }
            }

            .estetica {
                .contenido{
                    width: 100%;
                    margin-left: -50px;
                    margin-top: -20px;
                    
                    .linea {
                        width: 300px;
                    }

                    h2{
                        width: 70%;
                        text-align: center;
                    }

                    p{
                        width: 70%;
                    }
                }
                .imagenes {
                    display: none;
                }
            }
        }
    }
}