.principal-nav {
    width: 470px;
    height: 60px;
    background-color: var(--vinotinto);
    position: fixed;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 19px;
    border: solid var(--principal) 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    transition: all 0.3s ease;

    .principal-nav-link {
        text-decoration: none;
        color: var(--principal);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease;
        position: relative;
    }

    .principal-nav-link::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        width: 80%;
        height: 2px;
        background-color: var(--dorado);
        transition: transform 0.3s ease;
    }

    .principal-nav-link:hover::after {
        transform: translateX(-50%) scaleX(1);
    }

    .principal-nav-link:hover {
        transform: scale(1.1);
    }

    .principal-nav-productos,
    .principal-nav-educacion,
    .principal-nav-item,
    .principal-nav-inicio {
        color: var(--principal);
        font-family: "Californian FB", serif;
        font-size: 22px;
        cursor: pointer;
    }
    
    .principal-nav-productos p,
    .principal-nav-educacion p,
    .principal-nav-item p,
    .principal-nav-inicio p {
        margin: 0;
    }
}

.principal-nav-linea {
    width: 480px;
    height: 70px;
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 19px;
    border: solid var(--principal) 1px;
    z-index: 999;
    transition: all 0.3s ease;
}

/* Estilos para el menú hamburguesa */
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    color: var(--principal);
    transition: transform 0.3s ease;
}

.menu-icon:hover {
    transform: rotate(90deg);
}

.menu-links {
    display: flex;
    gap: 20px;
}
