.producto-fondo {
    background-color: var(--blanco);
    width: 350px;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;

    & .azul {
        background-color: var(--c);
        width: 330px;
        height: 440px;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .-arriba {
            width: 100%;
            height: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            & .-izq {
                position: relative;
                top: 15px;
                left: 4px;
                width: 9%;
                height: 1px;
                background-color: var(--dorado);
                transform: rotate(-40deg);
            }

            & .-lineadorada {
                position: relative;
                top: 5px;
                width: 80%;
                height: 1px;
                background-color: var(--dorado);
            }

            & .-der {
                position: relative;
                top: 15px;
                right: 4px;
                width: 9%;
                height: 1px;
                background-color: var(--dorado);
                transform: rotate(40deg);
            }
        }

        & .-abajo {
            width: 100%;
            height: 1px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            & .-izq {
                position: relative;
                bottom: 19px;
                left: 4px;
                width: 9%;
                height: 1px;
                background-color: var(--dorado);
                transform: rotate(40deg);
            }

            & .-lineadorada-abajo {
                position: relative;
                width: 80%;
                height: 1px;
                background-color: var(--dorado);
                bottom: 10px;
            }

            & .-der {
                position: relative;
                bottom: 19px;
                right: 4px;
                width: 9%;
                height: 1px;
                background-color: var(--dorado);
                transform: rotate(-40deg);
            }
        }



        & .-contenido {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;

            & .-lineadorada-izq {
                position: relative;
                left: 10px;
                width: 1px;
                height: 89%;
                background-color: var(--dorado);
                margin-bottom: 9px;
            }

            & .-lineadorada-der {
                position: relative;
                right: 10px;
                width: 1px;
                height: 89%;
                background-color: var(--dorado);
                margin-bottom: 9px;
            }

            & .-producto {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;

                & .-imagenproducto {
                    width: 70%;
                    height: 65%;
                    border-radius: 20px;
                    background-color: var(--gris);
                    margin-top: 10px;
                    margin-bottom: 15px;
                }

                & .-informacionproducto {
                    position: relative;
                    top: 1px;
                    width: 81%;
                    height: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    & .-arriba {
                        width: 100%;
                        height: 15%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        & .-izqrelleno {
                            position: absolute;
                            top: 6px;
                            left: 7px;
                            width: 28px;
                            height: 30px;
                            background-color: var(--dorado);
                            transform: rotate(-45deg);
                        }

                        & .-relleno {
                            position: relative;
                            width: 85%;
                            height: 100%;
                            background-color: var(--dorado);
                            display: flex;
                            flex-direction: column;
                            z-index: 1;

                            & .-con {
                                width: 100%;
                                height: 90%;
                                display: flex;
                                margin-left: 10px;

                                & h3 {
                                    position: relative;
                                    font-family: "Californian FB", serif;
                                    color: var(--blanco);
                                    margin: 0;
                                    font-size: 24px;
                                    font-weight: normal;
                                    top: 6px;
                                    margin-left: 6px;
                                }

                                & .-lineaconblanca {
                                    position: relative;
                                    width: 1px;
                                    height: 27px;
                                    background-color: var(--blanco);
                                    margin-left: 9px;
                                    top: 7px;
                                }

                            }

                            & .-lineablanca {
                                position: relative;
                                width: 100%;
                                height: 1px;
                                background-color: var(--blanco);
                                top: 15px;
                                z-index: 1;
                            }
                        }

                        & .-derrelleno {
                            position: absolute;
                            right: 7px;
                            top: 6px;
                            width: 28px;
                            height: 30px;
                            background-color: var(--dorado);
                            transform: rotate(45deg);
                        }
                    }

                    & .-abajo {
                        width: 99%;
                        height: 85%;
                        background-color: var(--dorado);

                        & .-precio {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin-top: 10px;
                            gap: 3px;


                            & h3 {
                                font-family: "Californian FB", serif;
                                margin: 0px;
                                color: var(--blanco);
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
    }
}