.redesbotom-principal{
    display: flex;
    gap: 20px;
    width: 330px;
    height: 130px;
    background-color: var(--redesbotom);
    border-radius: 19px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;

    & .imagen{
        max-width: 80px;
        max-height: 80px;
    }

    & .logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & h2{
            font-family: "Californian FB", serif;
            font-size: 17px;
            margin: 0;
            color: var(--dorado);
        }

        & p{
            margin: 0;
            font-family: "Lato-Regular", sans-serif;
            font-size: 10px;
            color: var(--dorado);
        }
    }
}

.link-redes {
  text-decoration: none;
  display: inline-block;
}
