.contactarFinal {
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 80px;

    & .linea {
        height: 1px;
        width: 300px;
        background-color: var(--dorado);
    }

    & h2 {
        letter-spacing: 2px;
        color: var(--dorado);
        margin: 5px;
        font-weight: normal;
    }

    & .redescontenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 20px;
        width: 100%;

        & .mirar{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap; 
            padding: 0 20px; 
            max-width: 1200px;
        }
    }

    & p{
        margin-top: 30px;
        font-size: 20px;
        color: var(--rojooscuro);
        text-align: center;
    }
}