.contactarFinal {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    & .linea {
        height: 1px;
        width: 300px;
        background-color: var(--dorado);
    }

    & h2 {
        letter-spacing: 2px;
        color: var(--dorado);
        margin: 5px;
        font-weight: normal;
    }

    & .redescontenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 20px;

        & .mirar{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
    }

    & p{
        margin-top: 30px;
        font-size: 20px;
        color: var(--rojooscuro);
    }
}