.color-carousel {
  overflow: hidden;         
}

.swiper {
  max-width: 850px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.color-carousel .swiper-button-next,
.color-carousel .swiper-button-prev {
  color: #ffffff;          
}

.color-carousel .swiper-button-next::after,
.color-carousel .swiper-button-prev::after {
  color: #ffffff;
}

.color-carousel .swiper-slide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.color-carousel .swiper-slide-active,
.color-carousel .swiper-slide-prev,
.color-carousel .swiper-slide-next {
  opacity: 1;
  pointer-events: auto;
}

.color-carousel .swiper-slide-active {
  z-index: 10;
}

.color-carousel .swiper-slide-prev,
.color-carousel .swiper-slide-next {
  z-index: 5;
  opacity: 0.6;
}

.color-box {
  height: 450px;
  border-radius: 28px;
  box-shadow: var(--blanco);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.color-carousel .swiper-slide-active .color-box {
  transform: scale(1.0);
  z-index: 10;
}

.color-carousel .swiper-slide-prev .color-box,
.color-carousel .swiper-slide-next .color-box {
  transform: scale(1.1);
  opacity: 0.55;
  z-index: 5;
}