.imagen-contenedor-lar {
    width: 300px;
    height: 430px;
    aspect-ratio: 1/1;
    /* Mantiene forma cuadrada */
    overflow: hidden;
    border-radius: 20px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.sin-img-lar {
    background: var(--gris); /* gris */
}